<?php

$config = [
    'app' => [
        'apifootball_token' => '',
    ],
    'facebook' => [
        'token' => '',
        'app_secret' => '',
        'verification' => '',
        'start_button_payload' => 'Hello',
    ]
];
